 body {
    font-family: Arial, sans-serif;
    background-color: #F9F3EC;
    color: #3E3028;
}

.containerCalendar {
    max-width: 900px;
    margin: auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background: #EFE5DB;
    padding: 20px;
    border-radius: 10px;
}

.day {
    background: #EFE5DB;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    min-height: 100px;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease;
}

.event-day {
    cursor: pointer;
}

.event-day:hover {
    background-color: rgba(58, 144, 151, 0.6);
}

.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para el modal */
.modal-body img {
    max-width: 100%;
    border-radius: 5px;
}

