.hero-section{
    background-image: url('../../resources/imagenes/home/hero.png');
    background-size: cover;
    background-position: center;
}

.carrousel-section, .giftCard-section{
    background-color: #F9F3EC;
    color: #3E3028;
}

.galery-container {
    background-color: #EFE5DB;
    color: #3E3028;
}

.hover-zoom {
    transition: transform 0.4s ease;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

